@font-face {
  font-family: icon;
  src: url('../fonts/Type\ Icons.ttf')
}

@font-face {
  font-family: Athena;
  src: url('../fonts/Athena-Regular\ \(PERSONAL\ USE\ ONLY\).ttf')
}

@font-face {
  font-family: Highway;
  src: url('../fonts/HWYGOTH.TTF')
}

.header {
  height: 200px;
  width: 100%;
  background-color: mediumseagreen;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Athena;
  text-shadow: 4px 0px palegreen;
  font-size: 80pt;
  color: white;
  padding: 5px;
  text-align: center;
}

.contact {
  margin-top: 25px;
  width: 100%;
  font-family: Highway;
  font-size: 17pt;
  margin-right: 30px;
  padding: 5px;
  text-align: center;
  background-color: seagreen;
}

.icon {
  font-size: 17pt;
  font-family: icon;
  margin-left: 20px;
  color: white;
}

.symbol {
  font-family: icon;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: palegreen;
  transition-duration: 1s;
}

.project-link {
  float: left;
  margin-left: 10%;
}

.resume-link {
  float: right;
  margin-right: 10%;
}

.project-link, .resume-link {
  height: 250px;
  width: 375px;
  padding-top: 125px;
  border: double 10px seagreen;
  border-radius: 200px;
  margin-top: 10%;
  text-align: center;
  font-family: Athena;
  font-size: 55pt;
  color: mediumseagreen;
  background-color: white;
}

.landing a {
  text-decoration: none;
}

.project-link:hover, .resume-link:hover {
  border: double 10px white;
  color: white;
  background-color: mediumseagreen;
  transition-duration: 1s;
}


